.banner {
    height: 90vh;
    margin-top: -30px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  
  .banner__title_head {
    text-align: center;
    font-weight: 600;
    font-size: 80px;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 3px solid rgb(255, 255, 255);
  }
  .typing,.typography{
    font-size: 20px;
    font-family:'Poppins', sans-serif;
  }
  
  .banner__title_head font {
    color: tomato;
  }
  
  .banner__title_tail {
    text-align: center;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .banner__buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .banner__button{
    color: rgb(10, 3, 3) !important;
    background-color: rgba(255, 255, 255, 0.8) !important;
    padding: 10px !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    margin-bottom: 10px !important;
  }
  .banner__button:hover{
    background-color: tomato !important;
    color:white;
    transition: all 0.3s ease-in-out;
    border-radius: 10%;
  }
  
  .banner__socialMedia {
    display: flex;
    justify-content: center;
    padding: 5px;
  }
  
  .social_icon_linkedin {
    font-size: 25px;
    margin-right: 10px;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #0077b5;
    padding: 10px;
    padding-right: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out !important;
  }
  
  .social_icon_gitlab {
    font-size: 25px;
    margin-top: 5px;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #6cc644;
    padding: 10px;
    padding-left: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out !important;
  }
  
  .social_icon_linkedin:hover {
    background-color: #fff;
    border-radius: 50%;
  }
  
  .social_icon_gitlab:hover {
    background-color: #fff;
    border-radius: 50%;
    color: green;
  }
  @media screen and (max-width: 800px){
    .banner__title_head{
      font-size: 29px;
    }
    .banner__title_tail{
      font-size: 12px;
    }
  }
