nav {
    background:rgb(3, 3, 121);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    position: relative;
    z-index: 99;
  }
  
  .fas {
    cursor: pointer;
  }
  
  .menu-icon {
    display: none;
    font-size: 20px;
  }
  .menu-icon .fa-times {
    transform: rotate(360deg);
    transition: all 0.2s ease-in-out;
    cursor:pointer;
  }
  
  .menu-icon .fa-bars {
    transform: rotate(180deg);
    transition: all 0.2s ease-in-out;
    cursor:pointer;
  }
  
  .logo {
    font-weight: 600;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
  }
  
  .logo font {
    color: tomato;
  }
  
  .menu-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu-list li:last-child a {
    font-weight: 300;
    padding: 5px 10px;
    /* background-color: #01aacd; */
    transition: all 0.5s ease-in-out;
    margin-left: 20px;
    border-radius: 2px;
  }
  
  .menu-list li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    padding: 5px 10px;
    margin-left: 20px;
  }
  
  .menu-list li a:hover,
  .menu-list li a.active {
    background-color: #fff;
    border-radius: 2px;
    color: #000;
    transition: all 0.3s ease-in-out;
  }
  /* .menu-list li::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
  }
  .menu-list li a:hover::after{
      width:100%;
  } */
  @media screen and (max-width: 960px) {
    .logo {
      font-size: 20px;
    }
    .menu-list li a {
      font-size: 14px;
      margin-left: 10px;
    }
  }
  
  @media screen and (max-width: 960px) {
    .menu-icon {
      display: block;
    }
    .menu-list {
      flex-direction: column;
      width: 100%;
      position: absolute;
      background: rgb(3, 3, 121);
      padding: 20px;
      right: 0;
      top: 64px;
      transition: all 0.5s ease-in-out;
    }
  
    .menu-list li {
      margin-bottom: 20px;
      width: 100%;
      text-align: center;
    }
    .menu-list li:last-child {
      margin-bottom: 0px;
    }
  
    .menu-list li a,
    .menu-list li:last-child a {
      width: 150px;
      display: block;
      margin: auto;
      font-weight: 700;
    }
  
    .menu-list.close {
      right: -100%;
      transition: all 0.5s ease-in-out;
    }
  
    .form__select {
      width: 520px !important;
    }
  }