* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  .container {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5); /*dim the background*/
  }
  
  .page-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    position: relative;
    z-index: 2;
  }
  
  .page-heading h1 {
    font-size: 5rem;
    color: #fff;
    font-weight: 300;
    background: rgba(0, 0, 0, 0.5);
    padding: 0px 20px;
    border-radius: 2px;
  }
  
  @media screen and (max-width: 600px) {
    .page-heading h1 {
      font-size: 3rem;
    }
  }
  
  .form {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .form__form_group {
    width: 600px;
    /* margin-top: 20px; */
    opacity: 0.9;
    display: flex;
    flex-direction: column;
  }
  
  .form__text_field {
    margin: 0 10px 5px 10px !important;
    color: #fff !important;
    background-color: whitesmoke !important;
  }
  
  .form__button {
    margin: 10px !important;
    padding: 10px !important;
    font-size: 18px !important;
    font-weight: 700 !important;
  }
  
  .form__title {
    margin: 10px;
    font-size: 35px;
    font-weight: 700;
    color: rgb(245, 239, 230);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
  }
  
  .homecontainer {
    display: flex;
    flex-direction: column;
  }